#root {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

@font-face {
  font-family: 'Mulish';
  src: url('../public/Mulish-VariableFont_wght.ttf') format('truetype'),
       url('../public/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body, html {
  font-family: 'Mulish', sans-serif !important;
}

:root {
  --t-d-blue: #192A51;
  --t-l-blue: #3c86e2;
  --t-white: #f7f7f7;
  --t-black: #080705;
  --t-red: #e3655b;
  --t-gray: #c7c7c8;
}



.navbarContainer{
  width: 100%;
  background-color: var(--t-d-blue) !important;
  color: var(--t-white) !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.whiteText {
  color: var(--t-white) !important;
}

.selectionTitle{
  background-color: var(--t-d-blue) !important;
  color: var(--t-white) !important;
  border-radius: 16px 16px 0 0 !important;
}

.selectionContainer{
  background-color: var(--t-white) !important;
  border-radius: 16px;
  color: var(--t-black) !important;
}

.addButton {
  background-color: var(--t-l-blue) !important;
  color: var(--t-white) !important;
  border-radius: 8px !important;
}

.addButton:hover {
  background-color: var(--t-d-blue) !important;
  color: var(--t-white) !important;
}

.accentText {
  color: var(--t-l-blue) !important;
}

.whiteBackground {
  background-color: var(--t-white) !important;
}

.greyBackground {
  background-color: var(--t-gray) !important;
}